<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@post.user).nick %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<% if current_admin %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', posts_path %>
<% end %>

<h2>Comments</h2>

<% @post.comments.each do |c| %>
  <p>
    <b><%=h User.find(c.user).nick %> said:</b><br />
    <%= time_ago_in_words(c.created_at) %> ago
  </p>

  <p>
    <%=h c.body %>
  </p>
<% end %>

<% if current_user %>
	<%= form_for [@post, Comment.new] do |f| %>
		<%= f.text_area :body %><br/>
		<%= f.submit "Add Comment" %>
	<% end %>
<% end %>



