<h1>Listing users</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Nick</th>
    <th>Admin</th>
   <% if current_admin %>
		<th></th>
		<th></th>
	<% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.nick %></td>
    <td><%= user.admin %></td>
	<% if current_admin %>
		<td><%= link_to 'Edit', edit_user_path(user) %></td>
		<td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_admin %>
	<%= link_to 'New User', new_user_path %>
<% end %>
